:root {
    --navbar-bg: #c8d5db;
    /* Azul profundo marino */
    --navbar-link: #f6fff8;
    /* Blanco espuma */
    --navbar-link-hover: #00b4d8;
    /* Turquesa */
    --navbar-btn: #83e8fa;
    /* Verde agua */
    --navbar-list-bg: #ffe5b4;
    /* Arena */
    --color-list: white
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--navbar-bg);
}

ul {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 12px;
}

ul li:hover {
    background-color: var(--navbar-link-hover);
    border-radius: 6px;
}

ul li a {
    color: var(--navbar-link);
    text-decoration: none;
}