:root {
    --color-links: #000;
    --color-button: #0AACF1;
    --color-text-button: #ffffff;
    --color-hover-links: #ceeae3;
    --color-navbar: #fffff;
}

.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-navbar);
    padding: 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.registerNavBtn {
    background-color: var(--color-button);
    color: var(--color-text-button);
    width: 150px;
    border-radius:6px;
}

.navList {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}


.navList li a {
    color: var(--color-links);
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}

.navList li a:hover {
    color: var(--color-hover-links);
    cursor: pointer;
    transition: background-color 0.3s ease;
}